{% extends 'base.html' %}
{% block header%}
    <h1 align="center">Shopping List</h1>
{% endblock %}
{% block content %}
<form class="add" method="post">
    <input type="text" id="add-item" name="add-item" placeholder="Enter your item" align="center" required>
    <input type="submit" value="Add" align="center" id="add-button" name="add-button">
</form>
<section>
<table>
    <tr><th>Items</tr></th></tr>
    {% for row in rows %}
  <tr><td><p id="item-label" name="item-label">{{ row[2] }}<form class="del" method="post">
    <input type="text" value="{{ row[2] }}" id="del-item" name="del-item" placeholder="Enter your item" align="center" required>
    <input type="submit" value="Delete" align="center" id="del-button" name="del-button" ></p>
</form>
    {% endfor %} 
</td></tr>
</table>
</section>
{% endblock %}